<?xml version="1.0" encoding="UTF-8"?>
<!-- iis/web.config -->
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect RU Traffic" stopProcessing="true">
                    <!-- Assuming Cloudflare is used to provide the CF-IPCountry header -->
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_CF_IPCountry}" pattern="^RU$" />
                    </conditions>
                    <!-- Simple static redirect (IIS doesn't support easy dynamic rotation in basic rules) -->
                    <action type="Redirect" url="https://en.wikipedia.org/wiki/War_crimes_in_the_Russo-Ukrainian_war_(2022%E2%80%93present)" appendQueryString="false" redirectType="Found" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>