# haproxy/haproxy.cfg

frontend www_front
    bind *:80
    
    # Assuming Cloudflare headers. Alternatively, use HAProxy's GeoIP maps.
    acl is_russia req.hdr(CF-IPCountry) -i RU
    
    # Redirect to a Wikipedia article. 
    # HAProxy doesn't easily natively rotate redirects dynamically without Lua scripts.
    http-request redirect location https://en.wikipedia.org/wiki/War_crimes_in_the_Russo-Ukrainian_war_(2022%E2%80%93present) if is_russia

    default_backend www_back
